:root{
    --dark-bg:#052136;
    --light-blue:#1070b7;
    --links:#96c123;
    --font-light:#e6e6e6;
    --font-black:#1a1a1a;
}
p{
    margin-bottom: 0;
}
a{
    color: var(--font-light);
}
/*--------Section 1 -------*/
#hero-section{
    height: auto;
    background-image: url(../images/Img.png);
    background-size: cover;
}
.hero-section{
    background: var(--font-black) !important;
    opacity: 80%;
    padding-top: 5px;
}
.bg-dark{
    background: transparent !important;
    opacity: 100% !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link{
    color: var(--font-light) !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    padding: 15px 16px;
    margin-right: 45px;
    position: relative;
}
.navbar-dark .navbar-nav .nav-link.active{
color: var(--links) !important;
}
.myheader .nav-link::after{
    content: '';
    width: 0px;
    height: 5px;
    background: var(--links);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: all 0.5s ;
}
.myheader .nav-link:hover::after{
    width: 90px;
    transition: all 0.5s ;
}

.navbar-brand img{
    width: 157px;
}
.main-headings h1{
    color: var(--font-light);
    font-size: 700;
    font-size: 64px;
    line-height: 76.8px;
    margin-bottom: 30px;
}
#hero-section .main-headings span{
    position: relative;
    z-index: 111;
}

#hero-section .main-headings span::before{
    content: '';
    width: 100%;
    height: 16px;
    background: var(--light-blue);
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: -1;
}
.main-headings p{
    color: var(--font-light);
    font-size: 400;
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 50px;
    max-width: 373px;
}
.main-headings button{
    border: 3px solid var(--links);
    background: transparent;
    color: var(--font-light);
    border-radius: 0;
    padding: 5px 40px;
}
.main-headings button:focus{
    border: none;
    outline: none;
}
.main-headings button:hover{
    background: var(--links);
    color: var(--font-black);
    border: 3px solid var(--links);
}
.main-headings .row{
    margin-top: 90px;
}
.main-headings .qualification{
    color: var(--links);
    margin-left: 50px;
}
/*-----x---Section 1 --x-----*/
/*---------Section2---------*/
#section2 .sec2{
   
    background:#434343;
}
#section2 .sec2 .container{
    padding: 110px  0px 80px 0px;
}
#section2 .sec2 p{
    color: var(--light-blue);
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
}
#section2 .sec2 h4{
    color: var(--font-light);
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
}
#section2 .left_sec2{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
#section2 .left_sec2 .box{
    padding: 15px 30px;
    background: var(--font-black);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
#section2 .left_sec2 .box span{
    color: var(--font-light);
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
}
#section2 .left_sec2 h3{
    color: var(--font-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 20px;
}
#section2 .right-sec2{
    background: var(--font-black);
    padding: 30px;
    border-radius: 4px;
    margin-top: 23px;
    margin-left: 30px;
}
#section2 .right-sec2 h3{
    color: var(--font-light);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}
#section2 .right-sec2 p{
    color: var(--font-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}
#section2 .right-sec2 img{
    width: 100%;
}
#section2 .right-sec2 .cross-icon{
    color: white;
    font-size: 27px;
    position: absolute;
    top: 0;
    left: 0;
}
/*----x-----section2----x----*/
#section3 .sec3{
   
    background: var(--font-black);
    

    
}
#section3 .right-sec3{
padding: 70px 130px 40px 130px;
}
#section3 .right-sec3 h3{
    color: var(--font-light);
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    z-index: 1111;
    
}
#section3 .right-sec3 p{
    color: var(--light-blue);
    font-size: 14px;
    font-weight: 700;
    line-height:19.4px;
}
#section3 .right-sec3 .right-img{
    width: 100%;
}
#section3 .right-sec3 .content h6{
    font-size: 16px;
    font-weight: 400;
    line-height:22.9px;
    color: var(--font-light);
}
#section3 .right-sec3 .content button{
    border: 3px solid var(--links);
    background: transparent;
    color: var(--font-light);
    border-radius: 0;
    padding: 5px 40px;
    margin:20px 0px;
    font-weight: 700;
}
#section3 .right-sec3 .content button:hover{
    background: var(--links);
    color: var(--font-black);
    border: 3px solid var(--links);
}
#section3 .right-sec3 .content a{
    color: var(--links);
    display: block;
}
#section3 .right-sec3 span{
    position: relative;
    z-index: 111;
}

#section3 .right-sec3 span::before{
    content: '';
    width: 100%;
    height: 16px;
    background: var(--light-blue);
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: -1;
}
#section3 .sec3 .cube-img{
    position: relative;
}
#section3 .sec3 .cube-img img{
width: 100%;    
position: absolute;
top: -20px;
right: 0;
}
/*---------Section3---x-------*/

#section4 .sec4{
    background: var(--font-light);
    
}
#section4 .sec4 .container{
    padding: 100px 0px;
}

#section4 .up h3{
    color: var(--font-black);
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    z-index: 1111;
    
}
#section4 .up p{
    color: var(--light-blue);
    font-size: 14px;
    font-weight: 700;
    line-height:19.4px;
}
#section4 .sec4 h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 33.4px;
    color: var(--light-blue);
}
#section4 .sec4 h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--font-black);
}
#section4 .sec4 .box{
    display: flex;
    justify-content: end;
    height: fit-content;

}
#section4 .sec4 .iconbox{
    padding: 15px;
    width: fit-content;
    background:var(--font-black);
    border-radius: 5px;
}
#section4 .sec4 .iconbox i{
    color: var(--font-light);
    width: 100%;
    font-size: 30px;
}
#section4 .sec4 button{
    border: 3px solid var(--links);
    background: transparent;
    color: var(--font-black);
    border-radius: 0;
    padding: 5px 40px;
    font-weight: 700;
    margin:20px 0px;
}
#section4 .sec4 button:hover{
    background: var(--links);
    color: var(--font-black);
    border: 3px solid var(--links);
}
/*---------Section5-----------*/
#section5 .sec5{
    background: var(--font-black);
   
    
}
#section5 .sec5 .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1366px;
   
}
#section5 .sec5 img{
    width: 100%;
}

#section5 .sec5 .right-sec p{
font-size: 14px;
line-height: 19.6px;
font-weight: 700;
color: var(--light-blue);
}
#section5 .sec5 .right-sec h2{
    font-size: 32px;
    line-height: 44.8px;
    font-weight: 700;
    color: var(--font-light);
    }
    #section5 .sec5 .design2{
        position: relative;
    }
    #section5 .sec5 .design2 img{
        position: absolute;
        top: -23px;
       
        
        
    }
    #section5 .sec5 .right-sec h6{
        font-size: 14px;
        line-height: 22.4px;
        font-weight: 400;
        color: var(--font-light);
        max-width: 373px;
        }
        #section5 .sec5 .right-sec{
            padding: 70px 100px 70px 70px;
        }
        #section5 .sec5 button{
            border: 3px solid var(--links);
            background: transparent;
            color: var(--font-light);
            border-radius: 0;
            padding: 5px 40px;
            margin:20px 0px;
            font-weight: 700;
        }
        #section5 .sec5 button:hover{
            background: var(--links);
            color: var(--font-black);
            border: 3px solid var(--links);
        }

 /*------------Section6----------------*/
 #section6 {
    background: var(--font-light);
 }
 #section6 .sec6 h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 44.6px;
    color:var(--font-black)

 }
 #section6 .sec6 h6{
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    color:var(--light-blue)

 }
 #section6 .sec6 .pf{
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    color: var(--light-blue);
 }
 #section6 .sec6 .container{
    padding: 100px 0px 0px 0px;
 }
 #section6 .sec6 .stars{
    display: flex;
 }
 #section6 .sec6 .stars i{
    font-size: 35px;
    margin:6px 4px;
    color: var(--links);
 }
 #section6 .sec6 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28.4px;
 }
 #section6 .sec6 .quotes{
    position: relative;
 }
 #section6 .sec6 .quotes::before{
content: '';
width: 6px;
height: 120px;
background: var(--links);
position: absolute;
left: 0px;
top: 0px;
margin-left:10px;
 }
 #section6 .sec6 .mylink {
    display: flex;
    justify-content: flex-end;
    padding: 50px 0px;
 }
 #section6 .sec6 .mylink h4{
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    font-style: italic;
 }
 /*-------Footer------*/
 #footer .myfooter{
    background: var(--font-black);
    padding-top: 100px;
 }

#footer .myfooter .myp{
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    color: var(--light-blue);
 }
 #footer .myfooter h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 44.6px;
    color:var(--font-light);
    

 }
 #footer .myfooter span{
    position: relative;
    z-index: 1111;
 }
 #footer .myfooter span::before{
    content: '';
    width: 100%;
    height: 14px;
    background: var(--light-blue);
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: -1;
}
#footer .myfooter p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: var(--font-light);
 }
 #footer .myfooter .right-section{
    padding-left: 100px;
 }
 #footer .myfooter .contact{
    margin-bottom: 100px;
 }
 #footer .myfooter .iconbox{
    padding: 15px;
    width: fit-content;
    background:var(--links);
    border-radius: 5px;
}
#footer .myfooter .iconbox i{
    color: var(--font-black);
    width: 100%;
    font-size: 30px;
}
#footer .myfooter .box p{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;

}
#footer .myfooter form{
    border: 2px solid var(--font-light);
    padding: 20px;
    border-radius: 3px;
}
#footer .myfooter .form-check p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
}
#footer .myfooter input[type=email]{
    background: #9F9F9F;
}
#footer .myfooter textarea{
    background: #9F9F9F;
}
#footer .myfooter input::placeholder{
    color: var(--font-light);
}
#footer .myfooter textarea::placeholder{
    color: var(--font-light);
}

#footer .myfooter button{
    border: 3px solid var(--links);
    background: transparent;
    color: var(--font-light);
    border-radius: 0;
    padding: 5px 40px;
    margin:20px 0px;
    font-weight: 700;
}
#footer .myfooter button:hover{
    background: var(--links);
    color: var(--font-black);
    border: 3px solid var(--links);
}
#footer .myfooter .hr{
    color: var(--light-blue);
    height: 3px;
    background: var(--light-blue);
    margin-top: 80px;
    z-index: 1111;
}

#footer .myfooter .second-area h6{
    color: var(--links);
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 700;
    margin-bottom: 20px;
    
}
#footer .myfooter .second-area ul li{
    list-style-type: none;
    color: var(--font-light);
}
 /*---x----Footer---x---*/
 /*-------Preloader---------*/
 .preloader{
    width: 100%;
    height: 100vh;
    background: var(--font-black);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .preloader img{
    width: 60%;
 }
 .preloader .pre-logos{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
 }
 .preloader .pre-logos .loader{
    width: 60%;
    height: 25px;
    background: var(--font-light);
    margin-top: 20px;
    border-radius: 99px;
 }
 .preloader .pre-logos .loader .loadmore{
    width: 10%;
    height: 100%;
    border-radius: 99px;
    background: var(--links);
 }
 /*----x---Preloader-----x----*/
 /*-------Scroll-to-top---------*/
 .scroll-to-top{
    width: 30px;
    height: 30px;
    background: var(--links);
    border-radius: 50%;
    color: var(--font-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    visibility: hidden;
 }
 /*----x---Scroll-to-top-----x----*/

 .sec-header{
    background: var(--font-black);
    color: var(--font-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    position: fixed;
    top: -90px;
    left: 0;
    width: 100%;
    z-index: 999999;
 }
 .sec-header img{
    width: 157px;
 }
 .sec-header ul{
    display: flex;
    padding-top: 10px;
 }
 .sec-header ul li{
    list-style-type: none;
    padding-left: 40px;
 }
 .sec-header ul li a{
    color: var(--font-light) !important;
    text-decoration: none;
 } 

